@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.wrapper {
  width: 600px;
  margin: 0 auto;
  font-family: 'Dancing Script', cursive;
}

.rm {
  background-color: rgba(255, 0, 0, 0.87);
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.rm:hover {
  background-color: rgb(255, 0, 0);
}

.done {
  text-decoration: line-through;
}

@keyframes bounceOut {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

.bounceOut {
  animation-duration: 0.5s;
  animation-name: bounceOut;
}